%p#notice= notice

%p
  %b Organization:
  = @piece.organization
%p
  %b Predicate:
  = @piece.predicate
%p
  %b Thing:
  = @piece.thing
%p
  %b Content:
  = @piece.content
%p
  %b Equivalent:
  = @piece.equivalent

= link_to 'Edit', edit_piece_path(@piece)
\|
= link_to 'Back', pieces_path
